<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" 
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CLIENT_ID</key>
  <string>your-ios-client-id.apps.googleusercontent.com</string>
  <key>REVERSED_CLIENT_ID</key>
  <string>com.googleusercontent.apps.your-ios-client-id</string>
  <key>API_KEY</key>
  <string>your-api-key</string>
  <key>GCM_SENDER_ID</key>
  <string>123456789</string>
</dict>
</plist>